---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/111.2?access_key=e4485bc1a9b17f912c022321fbbae910
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - fe448b21-bf77-4f4c-953f-4f602e87f8d1
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '973'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.037'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Sun, 10 Dec 2023 19:34:56 GMT
recorded_with: VCR 2.9.3
