---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/172.67.73.233?access_key=e4485bc1a9b17f912c022321fbbae910
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 2d88f3bb-aa19-460f-b25d-557446badc59
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '972'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.029'
    body:
      encoding: UTF-8
      string: '{"ip": "172.67.73.233", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "San Francisco", "zip": "94107",
        "latitude": 37.76784896850586, "longitude": -122.39286041259766, "location":
        {"geoname_id": 5391959, "capital": "Washington D.C.", "languages": [{"code":
        "en", "name": "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Sun, 10 Dec 2023 19:38:54 GMT
recorded_with: VCR 2.9.3
